---
apiVersion: gateway.networking.k8s.io/v1
kind: ReferenceGrant
metadata:
  name: gateways-access-tls-secret
  namespace: ${ENVIRONMENT}
spec:
  from:
    - group: gateway.networking.k8s.io
      kind: Gateway
      namespace: provider-${ENVIRONMENT}
    - group: gateway.networking.k8s.io
      kind: Gateway
      namespace: consumer-${ENVIRONMENT}
  to:
    - group: ""
      kind: Secret
      name: ${TLS_SECRET}